<style>
    .alert-warning {
        color: #ffffff;
        background-color: #0a0a0a;
        z-index: 199999;
        border-color: black;
    }

    .alert {
        margin-bottom: 0px;
    }
</style>
<div id="message" style="background-color: black; color: red;">
    <% if(message !='' ){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>

        <%}%>
</div>


<script>
    setTimeout(function () {
        $('#message').fadeOut('fast');
    }, 10000); // <-- time in milliseconds
</script>