<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body >
    <div id="preload" style="position:fixed;
width:100%;
height: 100vh;
background: #000;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 999999;
margin-bottom:20px;">
<h1 style="font-weight: bolder; color: #ee1e46; text-transform:uppercase; font-size:40px;position:fixed;margin-bottom:150px;">Runn-Neeti22</h1>
<br/>
<img src="/images/preload3.gif" alt="">
</div>
<script>
 function load(){
    $("#preload").css("display","none").delay(3000).fadeOut("slow");
 }
</script>
</body>
</html>