/* content */

@media only screen and (max-width:1200px){
    .text-white{
        font-size: 57px !important;
    }
}
@media only screen and (max-width:400px){
    .text-white{
        font-size:45px !important;
    }
}

@media only screen and (max-width:760px){
    #demo{
        font-size: 35px !important;
    }
}
@media only screen and (max-width:400px){
    #demo{
        font-size: 25px !important;
    }
}
@media only screen and (max-width:600px){
    .ml-auto{
        text-align: center !important;
    }
    .hero{
        overflow-x: hidden;
    }
}
@media only screen and (max-width:600px){
    #register{
        width: 35% !important;
        font-size: 13.5px !important;
        padding: 10px !important;

    }
}
@media only screen and (max-width:400px){
    #register{
        width: 40% !important;
        font-size: 11.5px !important;
        padding: 8px !important;
    }
}

@media only screen and (max-width:1000px){
    .contact{
        flex-direction: column;
        align-items: center;
    }
    .contactbox{
        margin: 10px !important;
        width: 50% !important;
    }
}
@media only screen and (max-width:992px){
    .contactbox{
        margin: 10px !important;
        width: 60% !important;
    }
}
@media only screen and (max-width:410px){
    .contactbox{
        font-size: 13px !important;
        min-height: 150px;
    }
}
@media only screen and (max-width:419px){
    .custom-media{
        justify-content: center;
    }
}
