<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rann-Neeti &mdash; 22</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    * {
      scroll-behavior: smooth;
      padding: 0px;
      margin: 0px;

    }


    #register {

      width: 42%;
      position: absolute;
      border-radius: 30px;
      font-size: 13.5px;
    }

    #hamburger {
      position: absolute;

    }

    #cont {
      position: absolute;
      right: 60px;
    }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/style.css">


  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />

  <style>
    .hamburger {
      display: inline-block;
      cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
      width: 24px;
      height: 1.5px;
      background-color: white;
      margin: 5px 2px 0px 0px;
      transition: 0.4s;
    }

    .change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      transform: translate(0, -4px) rotate(45deg);
    }
  </style>

</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>

    </div>
    <!-- changed -->


    <header class="site-navbar py-2 " role="banner">
      <!-- <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div> -->



      <div class="">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a href="index.html">
              <img
                src="https://user-images.githubusercontent.com/111749567/189416480-17f855ab-9343-4ef1-8aa1-1c7311f55e04.png"
                alt="Logo" height="70px">
            </a>
            <h3>IIT Mandi</h3>
          </div>
          <!-- changed -->
          <div id="cont">
            <nav class="site-navigation text-right " role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                <li><a href="#about" class="nav-link">About Us</a></li>
                <li><a href="/events" class="nav-link">Events</a></li>
                <li><a href="#sponsers" class="nav-link">sponsers</a></li>
                <li><a href="#contact" class="nav-link">Contact</a></li>
                <% if(!authenticated){ %>
                  <li>
                    <a id="sign" href="/auth/google"><i class="nav-link fa-brands fa-google"></i> SignIn</a>
                  </li>
                  <% }else{ %>
                    <li><a id="sign" href="/profile" class="nav-link"> Profile</a></li>
                    <li><a id="sign" href="/auth/logout" class="nav-link"><i class="fa-brands fa-google"></i> Logout</a>
                    </li>
                    <% } %>
                      <li>
                        <div class="hamburger" onclick="myFunction(this)">
                          <div class="bar1"></div>
                          <div class="bar2"></div>
                          <div class="bar3"></div>
                        </div>
                      </li>
                      <!-- <button id="hamburger" class="material-symbols-outlined">menu</button> -->
              </ul>
            </nav>
            <!-- changed -->
            <a href="#"
              class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a>
          </div>
        </div>
      </div>

    </header>
    <div class="hero overlay"
      style="background-image: url('https://user-images.githubusercontent.com/111749567/189417078-dc3c98bd-cb85-4692-8382-f7b784f85473.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 ml-auto">
            <h1 class="text-white">Rann-Neeti</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, molestias repudiandae pariatur Lorem,
              ipsum dolor sit amet consectetur adipisicing elit. Minima, quas.</p>
            <!-- <div id="date-countdown"></div> -->
            <p id="demo" style="font-size:3em ; color: white;"></p>
            <script>
              // Set the date we're counting down to
              var countDownDate = new Date("nov 4, 2022 00:00:00").getTime();

              // Update the count down every 1 second
              var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                  + minutes + "m " + seconds + "s ";

                // If the count down is over, write some text 
                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById("demo").innerHTML = "EXPIRED";
                }
              }, 1000);
            </script>
            <p>
              <a href="#" id="register" class="btn btn-primary py-3 px-4 mr-3">Register Now</a>
              <!-- <a href="#" class="more light">Learn More</a> -->
            </p>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: #15172a;">
      <div id="notice" class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="widget-next-match bg-dark">
                <div class="widget-title">
                  <h3>NoticeBoard</h3>
                </div>
                <div>
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="byteam">
                          <div class="widget-body mb-3" style="height:auto;">
                            <div class="widget-vs">
                              <div
                                class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                <div class="team-1 text-center">
                                  <img src="images/logo_1.png" alt="Image">
                                  <h3>Football League</h3>
                                </div>
                                <div>
                                  <span class="vs"><span>VS</span></span>
                                </div>
                                <div class="team-2 text-center">
                                  <img src="images/logo_2.png" alt="Image">
                                  <h3>Soccer</h3>
                                </div>
                              </div>
                              <div style="margin-top:10px;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut aliquid molestiae
                                  voluptate reprehenderit eius sed ex explicabo ad in illum doloremque, dolorum
                                  repellendus odit tempora nulla quia alias sequi quos enim. Facere quis laudantium
                                  perspiciatis possimus velit aliquid harum dolor?</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="bysport">
                          <div class="widget-body mb-3 " style="height:auto ;">
                            <div class="widget-vs">
                              <div
                                class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                <div class="team-1 text-center">
                                  <img src="images/logo_1.png" alt="Image">
                                  <h3>Football League</h3>
                                </div>
                                <div>
                                  <span class="vs"><span>VS</span></span>
                                </div>
                                <div class="team-2 text-center">
                                  <img src="images/logo_2.png" alt="Image">
                                  <h3>Soccer</h3>
                                </div>
                              </div>
                              <div style="margin-top:10px;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut aliquid molestiae
                                  voluptate reprehenderit eius sed ex explicabo ad in illum doloremque, dolorum
                                  repellendus odit tempora nulla quia alias sequi quos enim. Facere quis laudantium
                                  perspiciatis possimus velit aliquid harum dolor?</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-lg-6">
              <div class="widget-next-match bg-dark">
                <div class="widget-title">
                  <h3>LeaderBoard</h3>
                </div>
                <div class="">
                  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="item byteam">
                          <div class="widget-body mb-3" style="height:auto;">
                            <div class="widget-vs">
                              <div
                                class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                <div class="team-1 text-center">
                                  <img src="images/logo_1.png" alt="Image">
                                  <h3>Football League</h3>
                                </div>
                                <div>
                                  <span class="vs"><span>VS</span></span>
                                </div>
                                <div class="team-2 text-center">
                                  <img src="images/logo_2.png" alt="Image">
                                  <h3>Soccer</h3>
                                </div>
                              </div>
                              <div style="margin-top:10px;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut aliquid molestiae
                                  voluptate reprehenderit eius sed ex explicabo ad in illum doloremque, dolorum
                                  repellendus odit tempora nulla quia alias sequi quos enim. Facere quis laudantium
                                  perspiciatis possimus velit aliquid harum dolor?</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="item bysport">
                          <div class="widget-body mb-3" style="height:auto ;">
                            <div class="widget-vs">
                              <div
                                class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                <div class="team-1 text-center">
                                  <img src="images/logo_1.png" alt="Image">
                                  <h3>Football League</h3>
                                </div>
                                <div>
                                  <span class="vs"><span>VS</span></span>
                                </div>
                                <div class="team-2 text-center">
                                  <img src="images/logo_2.png" alt="Image">
                                  <h3>Soccer</h3>
                                </div>
                              </div>
                              <div style="margin-top:10px;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut aliquid molestiae
                                  voluptate reprehenderit eius sed ex explicabo ad in illum doloremque, dolorum
                                  repellendus odit tempora nulla quia alias sequi quos enim. Facere quis laudantium
                                  perspiciatis possimus velit aliquid harum dolor?</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="pronight" class="site-section" style="height:auto;">
        <div class="container">
          <div class="title-section">
            <h2 class="heading">Pronites and ceremony</h2>
          </div>
          <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="widget-body mb-3" style="height:60%;">
                  <div class="widget-vs">
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                      <div class="team-1 text-center" style="width:70% ;height:auto ;">
                        <img
                          src="https://user-images.githubusercontent.com/111749567/189416837-225f218d-19cf-41c4-a756-2d0777e3e4cb.jpg"
                          alt="" style="max-width:100%">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut aliquid molestiae
                          voluptate reprehenderit eius sed ex explicabo ad in illum doloremque, dolorum
                          repellendus odit tempora nulla quia alias sequi quos enim. Facere quis laudantium
                          perspiciatis possimus velit aliquid harum dolor?</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="widget-body mb-3" style="height:60%;">
                  <div class="widget-vs">
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                      <div class="team-1 text-center" style="width:70% ;height:auto ;">
                        <img
                          src="https://user-images.githubusercontent.com/111749567/189416685-aea6857d-35f2-4889-a324-258591805a92.jpg"
                          alt="" style="max-width:100%">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut aliquid molestiae
                          voluptate reprehenderit eius sed ex explicabo ad in illum doloremque, dolorum
                          repellendus odit tempora nulla quia alias sequi quos enim. Facere quis laudantium
                          perspiciatis possimus velit aliquid harum dolor?</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item ">
                <div class="widget-body mb-3" style="height:60%">
                  <div class="widget-vs">
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                      <div class="team-1 text-center" style="width:70% ;height:auto ;">
                        <img
                          src="https://user-images.githubusercontent.com/111749567/189416969-403038c2-68c1-4499-8458-c0c14a915433.jpg"
                          alt="" style="max-width:100%">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut aliquid molestiae
                          voluptate reprehenderit eius sed ex explicabo ad in illum doloremque, dolorum
                          repellendus odit tempora nulla quia alias sequi quos enim. Facere quis laudantium
                          perspiciatis possimus velit aliquid harum dolor?</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>



      <div id="sponsers" class="container site-section">
        <div class="row">
          <div class="col-6 title-section">
            <h2 class="heading">Sponsers</h2>
          </div>
        </div>
        <div class="">
          <div class="custom-media" style="display:flex ; flex-wrap:wrap;">
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>
            <div class="img" style="margin: 30px; ">
              <img
                src="https://user-images.githubusercontent.com/111749567/189417314-5b28bd92-4c37-4715-97c1-3323e9747992.png"
                alt="Image" class="img-fluid">
            </div>

          </div>
        </div>
      </div>

      <div id="contact" class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-6 title-section">
              <h2 class="heading">Contact Us</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <form action="#">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
                <div class="form-group">
                  <textarea name="" class="form-control" id="" cols="30" rows="10"
                    placeholder="Write something..."></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary py-3 px-5" value="Send Message">
                </div>
              </form>
            </div>
            <div class="col-lg-4 ml-auto">

              <ul class="list-unstyled">
                <li class="mb-2">
                  <strong class="text-white d-block">Address</strong>
                  273 South Riverview Rd. <br> New York, NY 10011
                </li>
                <li class="mb-2">
                  <strong class="text-white d-block">Email</strong>
                  <a href="#">info@unslate.co</a>
                </li>
                <li class="mb-2">
                  <strong class="text-white d-block">
                    Phone
                  </strong>
                  <a href="#">+12 345 6789 012</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="faq" class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-6 title-section">
              <h2 class="heading">FAQs</h2>
            </div>
            <div class="row">
              <div class="col-lg-7">
                <!-- something -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <footer class="py-3 my-4 ">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>


    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.mb.YTPlayer.min.js"></script>

    <script src="/js/main.js"></script>


    </script>

</body>

</html>