<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Details</title>
</head>

<body>
    <h1>Pending Payments</h1>
    <ul>
        <% for(let i=0;i<payments.length;i++){ %>
            <li>
                <form action="/payment/order" method="post">
                    <input name="paymentType" value="<%=payments[i].paymentType %>" readonly>
                    <input name="amount" value="<%=payments[i].amount%>" readonly>
                    <input name="id" value="<%=payments[i].id%>" readonly>
                    <button>Pay</button>
                </form>

                <hr>
            </li>

            <% } %>

    </ul>
</body>

</html>